.parallax {
	height: 500px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallaxLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--black);
	width: "100%";
	display: "flex";
	flex-direction: column;
}

.parallaxGroup {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	/* transform: translate3d(300px, 0, -800px) rotateY(30deg); */
}

.parallaxLayerForeground {
	-webkit-transform: translateZ(90px) scale(0.7);
	transform: translateZ(90px) scale(0.7);
	z-index: 1;
	/* backdrop-filter: blur(1px); */
}

.parallaxLayerBase {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
	/* backdrop-filter: blur(2px); */
}

.parallaxLayerBackground {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
	/* backdrop-filter: blur(8px); */
}

.parallaxLayerDeep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
	/* backdrop-filter: blur(16px); */
}

/*  debug   */
/* ------------------------------------------------- */
.debug {
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 999;
	color: var(--accent-7);
	border: none;
	button {
		all: unset;
		border-radius: 0 0 5px 5px;
		background: transparent;
		margin: 0;
		padding: 0;
		cursor: pointer;
		&:hover {
			color: var(--accent-9);
		}
		&[data-state="checked"] {
			color: var(--accent-11);
		}
	}

	svg {
		fill: transparent;
	}
}
