@keyframes growWidth {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 100%;
		opacity: 1;
	}
}

.separator {
	opacity: 0;
	width: 0;
	animation-name: growWidth;
	animation-delay: var(--delay);
	/* animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6); */
	animation-timing-function: ease-in-out;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.imageContainer {
	display: inline-block;
	position: relative;
	line-height: 0;
	/* background: #ffffff; */
	/* object-fit: "cover"; */
	width: "100%";
	height: "100%";
	border-radius: "var(--radius-2)";
}
.imageContainer::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	mix-blend-mode: soft-light;
	background: var(--accent-9);
	opacity: 0.5;
}
.imageContainer > img {
	width: 100%;
	height: auto;
	-webkit-filter: contrast(107%) grayscale(0%) hue-rotate(0deg) invert(0%)
		opacity(100%) saturate(165%) sepia(50%);
	filter: contrast(107%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%)
		saturate(165%) sepia(50%);
	mix-blend-mode: none;
}

.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.experienceList {
	margin-block-start: 0;
	padding-inline-start: "1rem";
	li {
		margin-bottom: 0.75rem;
	}

	@media print {
		li {
			margin-bottom: 0.3rem;
			break-inside: avoid;
		}
	}
}

.printable {
	display: none;
	@media print {
		display: flex;
	}
}
.notPrintable {
	display: flex;
	@media print {
		display: none;
	}
}

.experienceBlock {
	break-inside: avoid;
}
