:root {
	--transition-stuff: background-color 1.5s ease, color 1.5s ease;
}

body {
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: var(--transition-stuff);
	/* transition: opacity 1.5s ease-out, color 1.6s ease-out; */
	animation: triggerTransition 1.5s ease forwards;
	/* animation: triggerTransition 1.5s ease-in-out forwards; */
}

.radix-themes {
	margin: 0;
	padding: 0;
	transition: var(--transition-stuff);
	/* transition: 1.6s ease-out, color 1.6s ease-out; */
	--heading-font-size-adjust: 1.05;
	--heading-font-style: normal;
	--heading-leading-trim-start: 0.42em;
	--heading-leading-trim-end: 0.38em;
	--heading-letter-spacing: -0.01em;
}

@keyframes triggerTransition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
